<header>
  <nav class="navbar">
    <ul class="container navbar__list">
      <li><%= link_to  "Listagem", dashboard_index_path, class: "navbar__link" %></li>
      <li><%= link_to  "Importar", csv_import_index_path, class: "navbar__link" %></li>
    </ul>
  </nav>
</header>
