.notice {
  background: #D4EDDA;
  border: 1px solid #7bca8e;
  border-radius: 5px;
  color: #004911;
  margin-top: 60px;
  padding: 20px 0;
  text-align: center;
}

.alert {
  background: #F8D7DA;
  border: 1px solid #ca7b7b;
  border-radius: 5px;
  color: #490000;
  margin-top: 60px;
  padding: 20px 0;
  text-align: center;
}
