.navbar {
  background: #5636D3;

  .navbar__list {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center;

    li {
      list-style: none;

      .navbar__link {
        text-decoration: none;
        color: #ffffff;
        margin-left: 30px;
      }
    }
  }

}
