// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard-container {
  flex: 1;

  .dashboard__title {
    font-size: 2em;
    margin-top: 60px;
    text-align: center;
    background: #ffffff;
    padding: 20px 0;
    border-radius: 5px;
  }
  .dashboard__deputy-content {
    margin-top: 60px;

    .dashboard__title-empty {
      text-align: center;
    }

    .dashboard__deputy {
      align-items: center;
      background: #ffffff;
      border-radius: 5px;
      display: flex;
      padding: 24px;
      text-decoration: none;
      transition: 0.3s;
      box-shadow: 0 2px 2px #888888;

      &:nth-child(even) {
        animation: right_to_left 1s;
      }

      &:nth-child(odd) {
        animation: left_to_right 1s;
      }

      & + a {
        margin-top: 16px;
      }

      &:hover {
        transform: translateX(10px);
      }

      img {
        border-radius: 5px;
        max-width: 64px;
      }

      div {
        flex: 1;
        margin: 0 16px 0 16px;
        width: 100%;

        strong {
          color: #5636D3;
          display: block;
          font-size: 1.25em;
          max-width: 680px;
        }

        p {
          color: #2b2948;
          font-size: .875em;
          margin-top: 4px;
          max-width: 680px;
          font-weight: 100;
        }
      }
    }
  }
}

.show-content {
  h1 {
    font-size: 2em;
    margin-top: 60px;
    text-align: center;
    background: #ffffff;
    padding: 20px 0;
    border-radius: 5px;
  }

  .dashboard-show {
    display: flex;
    margin-top: 60px;

    img {
      box-shadow: 5px 10px #888888;
      animation: left_to_right 1s;
    }

    .dashboard-show__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      animation: right_to_left 1s;

      strong {
        font-size: 3em;
        margin-bottom: 30px;
      }

      .dashboard-show__info-spent {
        background: #5636D3;
        border-radius: 10px;
        padding: 30px;
        color: #ffffff;
        box-shadow: 5px 10px #39238d;

        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;

          span:nth-child(1) {
            align-self: center;
          }

          span:nth-child(2) {
            font-size: 2em;
          }
        }

        p {
          font-size: 2.5em;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px;
    animation: down_to_top 1s;

    #biggest--value {
      background: #ee1c1c;
      color: #ffffff;
    }

    td, th {
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: center;

      a {
        text-decoration: none;
      }
    }

    tr:nth-child(even) {
      background-color: #ffffff;
    }
  }
}

// keyframes

@keyframes left_to_right {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right_to_left {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes down_to_top {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
