// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard__title {
  font-size: 3em;
  margin-top: 60px;
  max-width: 755px;
}
.dashboard__deputy-content {
  margin-top: 60px;

  .dashboard__title-empty {
    text-align: center;
  }

  .dashboard__deputy {
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    padding: 24px;
    text-decoration: none;
    transition: 0.3s;

    & + a {
      margin-top: 16px;
    }

    &:hover {
      transform: translateX(10px);
    }

    img {
      border-radius: 5px;
      max-width: 64px;
    }

    div {
      flex: 1;
      margin: 0 16px 0 16px;
      width: 100%;

      strong {
        color: #5636D3;
        display: block;
        font-size: 1.25em;
        max-width: 680px;
      }

      p {
        color: #2b2948;
        font-size: .875em;
        margin-top: 4px;
        max-width: 680px;
        font-weight: 100;
      }
    }
  }
}

